<br/>
<div class = "container text-left display-5">
    <div class="row">
        <div class="col-sm ">
<a [routerLink]="['/gestionProduits/accueilProduit']"><p><strong>Accueil Produits</strong></p></a>
</div>
<div class="col-sm">
<a [routerLink]="['/gestionProduits/panierProduit']">Panier </a>
</div>
<div class="col-sm">
<a [routerLink]="['/gestionProduits/catalogueProduit']">Catalogue </a>
</div>
    </div>
<br>



<div class="row ">
    <div class="col-sm">
    </div>
        <div class="col-sm">
<div class="p-3 mb-2 bg-light text-dark bg-opacity-50">
    <div >
    <p> Voici l'onglet reservé
        à la gestion des produits.
    </p> 


    </div>
</div>
</div> 
<div class="col-sm"></div>
<div class="col-sm"></div>
</div>