<br/>
<div class = "container text-left display-5">
    <div class="row">
        <div class="col-sm ">
            <a [routerLink]="['/gestionClients/accueilClient']"><p><strong>Accueil Client</strong></p></a>
        </div>
        <div class="col-sm">
<a [routerLink]="['/gestionClients/detailClient']">Détails Client </a>
        </div>
        <div class="col-sm">
<a [routerLink]="['/gestionClients/formulaireClient']">Inscription </a>
    </div>

</div>
<br/>



<div class="row ">
    <div class="col-sm">
    </div>
        <div class="col-sm">
<div class="p-3 mb-2 bg-light text-dark bg-opacity-50">
    <div >
    <p> Voici l'onglet reservé
        à la gestion des clients.
    </p> 


    </div>
</div>
</div> 
<div class="col-sm"></div>
<div class="col-sm"></div>
</div>