<p>detail-client works!</p>


<form *ngIf="((clients$ | async)?.length==0)" (ngSubmit)="submit()" [formGroup]="formLogin">
    <h1>Connexion</h1>
    <label for="login">Login :</label>
    <input formControlName="login" name="login" type="text" /> <br/>
    <label for="password">Mot de passe :</label>
    <input formControlName="password" name="password" type="password" /> <br/>
    <button>Connexion</button>
</form>

<div *ngFor="let c of clients$ | async">
  <h1>Détails client</h1>
  <p>
    Bienvenue {{ c.login }}
  </p>

  <form action="/" (ngSubmit)="deco(c)">
    <button>Deconnexion</button>
  </form>

</div>

<div  *ngIf="client$ | async ; let currentClient">
   <p> {{currentClient.login}} </p> <br/>
   <p> {{currentClient.name}} </p> <br/>
   <p> {{currentClient.lastName}} </p> <br/>
   <p> {{currentClient.phone}} </p> <br/>
   <p> {{currentClient.town}} </p> <br/>
   <p> {{currentClient.civil}} </p> <br/>
   <p> {{currentClient.email}} </p> <br/>
   <p> {{currentClient.postalCode}} </p> <br/>
   <p> {{currentClient.password}} </p> <br/>

</div>