<div class="bg-image parallax overflow-auto" 
     style="background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/850d5888-f262-47d0-bb7b-34d03cd8d3ee/db6uwhg-aebcdfe7-02a6-4957-bd28-519073d39305.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzg1MGQ1ODg4LWYyNjItNDdkMC1iYjdiLTM0ZDAzY2Q4ZDNlZVwvZGI2dXdoZy1hZWJjZGZlNy0wMmE2LTQ5NTctYmQyOC01MTkwNzNkMzkzMDUuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Rrr6qUo5Hz60_r0gYRYEqRVdqc5FXy_Xk32J8pKOIrc');
            height: 100vh">


<!--https://mdbootstrap.com/img/Photos/Others/images/76.jpg-->
<div class="container">
    <h1 class="display-1 text-center">
        Boutique Fictive
    </h1>
</div>

<app-liens></app-liens>

<router-outlet></router-outlet>





</div>

<style>
    .parallax {
      /* The image used */
      background-image: url("img_parallax.jpg");
    
      /* Set a specific height */
      min-height: 500px;
    
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    </style>
